{% extends "usage/box.html" %}
{% block content %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="topbar-nav">
                <ul class="topbar-nav">
                    <li class="topbar-nav"> <h1>ConvertToText - Simple Application</h1> </li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                       <p><p><b>File Name:</b>
                        <pre>{{ file }}</pre>
                       <b>Converted Text:</b>
                        </p>
                        <center>
                        <pre>{{ text }}</pre>
                        </center>
                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                        </p>
                        <p>
                            <a href="/usage/convert/"><input type="button" name="back" value="Convert Another" class="btn btn-primary"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    
{% endblock %}